@media screen and (min-width: 1200px) {
    .advisory-image {
      display: none;
    }
  }
  
  @media  screen and (max-width: 1200px) {
    #root {
      display: none;
    }
    .advisory-image {
      display: block;
      width: 100%;
      height: 100vh;
      background: url('/public/erro-tela.png') center center no-repeat;
      background-size: cover;
    }
  }