* {
  margin: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-right: 0;
    margin-left: 0; 
}

.mainContent {
    width: calc(100% - 20px); 
    max-width: none;
    padding: 1rem;
    margin-left: 0; /* Alinhe à esquerda */
}


.greetingContainer {
    font-family: Lexend, sans-serif;
    background-color: rgba(33, 51, 86, 0.8);
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}


.statusContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
}
.greeting {
  color: #c4c8d2;
  margin: 1rem 0;
  text-align: left;
}

.actionContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.recentOrdersContainer {
  margin: 1rem 0;
  width: 100%;
}

.erroOS {
  color: white;
  font-weight: 400;
}

.actionButton {
  font-family: Lexend, sans-serif;
  font-size: 1.5rem;
  font-weight: 450;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 15rem;
  height: 4rem;
  transition: 0.3s;
}

.actionButton:hover {
  background-color: #0056b3;
  scale: 99%;
}
